# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# Demo app runtime artifacts
demo/tmp/
demo/log/
demo/storage/
demo/Gemfile.lock
demo/app/assets/builds/
demo/config/master.key
