@layer pathogen.components {
  abbr.req {
    vertical-align: baseline;
    font-size: 0.875rem;
    line-height: 1;
    color: var(--pathogen-color-danger-500);
    text-decoration-line: none;
  }
}
