<%= tag.public_send(@root_arguments[:href].present? ? :a : :span, **@root_arguments) do %>
  <% if @image_arguments.present? %>
    <%= tag.img(alt: @image_alt, **@image_arguments) %>
  <% elsif @fallback_text.present? %>
    <span aria-hidden="true" class="leading-none"><%= @fallback_text %></span>
  <% else %>
    <svg
      aria-hidden="true"
      viewBox="0 0 24 24"
      fill="none"
      class="size-[62%]"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="12"
        cy="8"
        r="4"
        stroke="currentColor"
        stroke-width="1.8"
      />

      <path
        d="M4 20c0-3.3 3.58-6 8-6s8 2.7 8 6"
        stroke="currentColor"
        stroke-width="1.8"
        stroke-linecap="round"
      />
    </svg>
  <% end %>
<% end %>
