<%= render @base_button_class.new(**@system_arguments) do -%>
  <% if leading_visual %>
    <span class="inline-flex shrink-0 items-center" aria-hidden="true"><%= leading_visual %></span>
  <% end %>

  <span><%= trimmed_content %></span>

  <% if trailing_visual %>
    <span class="inline-flex shrink-0 items-center" aria-hidden="true"><%= trailing_visual %></span>
  <% end %>
<% end %>
