<% if scenarios.many? %>
  <% scenarios = scenarios.filter(&:visible?) %>
  <% scenarios.each do |scenario| %>
    <div class="lookbook-scenario">
      <h6 class="lookbook-scenario__label">
        <%= scenario.label %>
      </h6>

      <%= scenario.output %>
    </div>
  <% end %>
<% else %>
  <%= scenarios.first.output %>
<% end %>
