<div class="flex gap-1">
  <%= render Pathogen::Button.new(scheme: :default, label: 'Button') %>
  <%= render Pathogen::Button.new(scheme: :primary, label: 'Button') %>
  <%= render Pathogen::Button.new(scheme: :danger, label: 'Button') %>
</div>
