<div class="flex gap-1">
  <%= render Pathogen::Button.new(scheme: :default, text: 'Button') %>
  <%= render Pathogen::Button.new(scheme: :primary, text: 'Button') %>
  <%= render Pathogen::Button.new(scheme: :danger, text: 'Button') %>
</div>
